{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="text-center">
    <h1>Bienvenue sur <i>The Nuum Blog</i> !</h1>
    {% if app.user %}
        <div class="alert alert-success" role="alert">
            Bonjour {{ app.user.name }} 😃
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">
            Vous n'êtes pas connecté(e). Vous pouvez accéder au contenu librement, mais vous devrez vous connecter pour laisser des commentaires ou publier des articles.
        </div>
    {% endif %}
</div>

<div class="row home">

{% for article in articles %}
<div class="col-md-4 mt-4">
    <div class="card">
        {% if article.featuredImage %}
            <img src="{{ path('articles/') }}" class="card-img-top post-image" alt="Image illustrative">
        {% else %}
            <img src="{{ "https://picsum.photos/seed/#{article.slug}/600" }}" class="card-img-top post-image" alt="Une image au hasard">
        {% endif %}
        <div class="card-body">
            <h5 class="card-title">{{ article.titre }}</h5>
            {% include "article/_categories.html.twig" %}
            {% include "article/_mots_cles.html.twig" %}
            <p class="card-subtitle mb-2 mt-2 text-muted">Publié le {{ article.createdAt }} par {{ article.user.name }}</p>
        </div>
        <div class="card-footer text-center">
            <a href="{{ path('article_show', {'id': article.id}) }}" class="btn btn-primary">Lire</a>
        </div>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}
