<ul class="mt-2 nav justify-content-center align-items-center">

    <li class="nav-item">
        <a class="nav-link" href="{{ path('home') }}">
            <img class="logo" src="{{ asset('build/logo.svg') }}" alt="Logo du site" />
        </a>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('home') }}">Accueil</a>
        </li>
    </li>

    {# Si l'utilisateur n'est pas connecté... #}
    {% if app.user == null %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
        </li>

    {# Les utilisateurs connectés ont accès à des fonctionnalités différentes : #}
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{{ path('article_index') }}">Mes articles</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('article_new') }}">Écrire un article</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('categorie_index') }}">Gérer les catégories</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('mot_cle_index') }}">Gérer les mots-clés</a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
        </li>

    {% endif %}
</ul>