{% extends 'base.html.twig' %}

{% block title %}MotCle index{% endblock %}

{% block body %}
    <h1>MotCle index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Mot_cle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for mot_cle in mot_cles %}
            <tr>
                <td>{{ mot_cle.id }}</td>
                <td>
                    {# si la catégorie contient des articles, ajouter un lien #}
                    {% if mot_cle.getArticles().count() %}
                        <a href="{{ path('mot_cle_show', {'id': mot_cle.id}) }}">
                    {% endif %}
                        {{ mot_cle.motCle }}
                    {% if mot_cle.getArticles().count() %}</a>{% endif %}
                </td>
                <td>
                    <a href="{{ path('mot_cle_edit', {'id': mot_cle.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun mot-clé trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('mot_cle_new') }}">Créer un mot-clé</a>
{% endblock %}
