{% extends 'base.html.twig' %}

{% block title %}Categorie index{% endblock %}

{% block body %}
    <h1>Categorie index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Slug</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr>
                <td>{{ categorie.id }}</td>
                <td>
                {# si la catégorie contient des articles, ajouter un lien #}
                {% if categorie.getArticles().count() %}
                    <a href="{{ path('categorie_show', {'id': categorie.id}) }}">
                {% endif %}
                    {{ categorie.nom }}
                {% if categorie.getArticles().count() %}</a>{% endif %}
                </td>
                <td>{{ categorie.slug }}</td>
                <td>
                    <a href="{{ path('categorie_edit', {'id': categorie.id}) }}">Éditer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">Aucune catégorie trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('categorie_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
